
<style>
    fieldset {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 20px;
        background-color: #fff;
    }

    legend {
        font-weight: bold;
        border: 1px solid #ccc;
        border-radius: 25px;
        background-color: #fff;
        margin: -30px 0px 20px 0;
        width: 50%;
        text-align: center;
        color: black;
    }

    .box {
        width: auto;
        height: auto;
    }
</style>
<form method="post" asp-action="Save" asp-controller="BillofMaterial">
    <div class="mt-3">
        <div class="row">
            <div class="col-md-12">
                <fieldset>
                    <legend style="">Bill of Meterial</legend>
                    <div class="box">
                        <div class="row col-md-12">
                            <input type="hidden" asp-for="ItemTableCollectionID" />
                            <div class="mb-3 row">
                                <div class="col-md-2">
                                    <label for="Name" class="col-form-label">Table Name<span class="required">*</span></label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" asp-for="TableName" maxlength="50">
                                    <span asp-validation-for="TableName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <div class="mb-3 row">
                                <div class="col-md-2">
                                    <label for="Column1Name" class="col-form-label">Column1 <span class="required">*</span></label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" asp-for="Column1Name" maxlength="50">
                                    <span asp-validation-for="Column1Name" class="text-danger"></span>
                                </div>
                                <div class="col-md-4">
                                    <select asp-for="Column1Type" asp-items="@ViewBag.ColType" class="form-control">
                                    </select>
                                    <span asp-validation-for="Column1Type" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <div class="mb-3 row">
                                <div class="col-md-2">
                                    <label for="Column2Name" class="col-form-label">Column2 <span class="required">*</span></label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" asp-for="Column2Name" maxlength="50">
                                    <span asp-validation-for="Column2Name" class="text-danger"></span>
                                </div>
                                <div class="col-md-4">
                                    <select asp-for="Column2Type" asp-items="@ViewBag.ColType" class="form-control">
                                    </select>
                                    <span asp-validation-for="Column2Type" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <div class="mb-3 row">
                                <div class="col-md-2">
                                    <label for="Column3Name" class="col-form-label">Column3 <span class="required">*</span></label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" asp-for="Column3Name" maxlength="50">
                                    <span asp-validation-for="Column3Name" class="text-danger"></span>
                                </div>
                                <div class="col-md-4">
                                    <select asp-for="Column3Type" asp-items="@ViewBag.ColType" class="form-control">
                                    </select>
                                    <span asp-validation-for="Column3Type" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <div>
            <button class="btn btn-primary btn-info px-5 ladda-button" id="btnSave" type="button" onclick="fnSubmit()">
                Submit
            </button>
            <button type="reset" class="btn btn-default btn-info px-5 ladda-button" data-itemid="@Model.ItemTableCollectionID" onclick="fnReset(this)">Clear</button>
        </div>
    </div>
</form>
@await Html.PartialAsync("_ValidationScriptsPartial")