@using Business.Entities.Master;
@using System.Data;
@model DataTable

<style>
	.TFtable {
		width: 100%;
		border-collapse: collapse;
	}

		.TFtable td {
			padding: 7px;
			border: #4e95f4 1px solid;
		}
		/* provide some minimal visual accomodation for IE8 and below */
		.TFtable tr {
			background: #b8d1f3;
		}
			/*  Define the background color for all the ODD background rows  */
			.TFtable tr:nth-child(odd) {
				background: #b8d1f3;
			}
			/*  Define the background color for all the EVEN background rows  */
			.TFtable tr:nth-child(even) {
				background: #dae5f4;
			}
</style>
<table class="TFtable">
	@if (Model != null)
	{
		<tr>
			@for (int i = 0; i < Model.Columns.Count; i++)
			{
				<th>@Model.Columns[i].ColumnName</th>
			}
		</tr>
		for (int i = 0; i < Model.Rows.Count; i++)
		{
			<tr>
				@for (int j = 0; j < Model.Columns.Count; j++)
				{
					<td>@Model.Rows[i][j].ToString()</td>
				}
			</tr>
		}
	}
</table>
