@model Business.Entities.Marketing.RequestForQuotMasterModel.RequestForQuotSearch
@{
    
}
<form method="get" id="frmPendingQuotationMasterSearch" novalidate>
    <a> Search form hear</a>
    @* <div class="mt-3">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3 row">
                            <div class="col-md-4">
                                <label for="Keyword" class="col-form-label">Search keyword</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="searchPendingKeyword" maxlength="50" placeholder="----- Search By Input Value -------">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" style="">
                        <div class="text-end">
                            <button class="btn btn-primary btn-info px-5 ladda-button" type="button" onclick="fnShowOtherTabwisePanel(true)">
                                Search
                            </button>
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
    </div> *@
</form>
@await Html.PartialAsync("_ValidationScriptsPartial")
<script type="text/javascript">
</script>