@using Microsoft.AspNetCore.Identity
@using Business.SQL
@using GridCore
@using System.Data;
@addTagHelper *, GridMvc
@model ISGrid
@{

}
<script src="~/GridResource/js/gridmvc-ajax.js" type="text/javascript"></script>
<script src="~/lib/URI.js/URI.js" type="text/javascript"></script>
@* <div class="row card" id="PendingSearchPanel">
    @{
        Html.RenderPartial("_pendingQuotationSearch", new Business.Entities.Marketing.RequestForQuotMasterModel.RequestForQuotSearch());
    }
</div> *@

<div class="row card" id="PendingSearchPanel">
    <div class="mt-3">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3 row">
                            <div class="col-md-4">
                                <label for="Keyword" class="col-form-label">Search keyword</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="searchKeyword" maxlength="50" placeholder="----- Search By Input Value -------">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" style="">
                        <div class="text-end">
                            <button class="btn btn-primary btn-info px-5 ladda-button" type="button" onclick="fnSearchPendingORCompletedQuotations(true)">
                                Search
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row" id="PendingSearchResult">
    <div class="col-md-12">
        <grid model="@Model" />
    </div>
</div>


<div class="modal fade bd-example-modal-lg" id="openRFQDetailTable" tabindex="-1" aria-labelledby="openRFQDetailTableModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg-Custom">
        <div class="modal-content bg-light">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="openRFQDetailTableModalLabel">RFQ Detail</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="rfqModalBody">

            </div>
            @*<div class="modal-footer">
                 <a onclick="fnApprovSaveCalculatedSalary()" class="btn btn-primary">Confirm</a>
                <button type="button" class="btn btn-primary" onclick="fnAddParty()">Save</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button> 
            </div>*@
        </div>
    </div>
</div>


@await Html.PartialAsync("_ValidationScriptsPartial")
<script>

    $(function () {

        pageGrids.RequestForQuotMasterGrid.ajaxify({
            getPagedData: "/QuotationMaster/PendingSearch",
            getSubGridData: "/QuotationMaster/GetSubgridPendingQuot"
                alert('Hello');
        });

        pageGrids.RequestForQuotMasterGrid.onRowSelect(function (e) {
            alert('Hello');
            $.get("/QuotationMaster/GetSubgridPendingQuot?id=" + e.row.RequestForQuotID, function (data) {
                if (data.status <= 0) {
                    alert(data.message);
                    return;
                }
                alert(data.message);

                $("#PendingSearchPanel").html(data.content);
            });
        });
    });

    function fnOpenRFQDetailTable(obj) {
        let urlTable = '@Url.Action("GetSubgridPendingQuot", "QuotationMaster")';
        //alert('fnOpenRFQDetailTable fn invoked.');
         //debugger;
        // $('#openRFQDetailTable').modal('show');
        //GetSubgridPendingQuot(int requestforQuotid
        var _parameters = { requestforQuotid: obj };
        $.ajax({
            url: urlTable,
            type: "GET",
            data: _parameters,
            success: function (data, textStatus, jqXHR) {
                debugger;
                $('#rfqModalBody').html(data);
                // $("#canvas_Employee").show();//('hide');
                $('#openRFQDetailTable').modal('show');
            }
        });

    }

    // $(function () {
    //     pageGrids.RequestForQuotMasterGrid.addFilterWidget(new CustomersFilterWidget());

    //     pageGrids.RequestForQuotMasterGrid.ajaxify({
    //         getPagedData: "/QuotationMaster/PendingSearch",
    //         getSubGridData: "/QuotationMaster/GetSubgridPendingQuot"
    //     });



    //    // pageGrids.ordersGrid.applyExtSortValues("Customer.CompanyName", 0, 1);
    // });
</script>
