@using Business.Entities.Admin.ProductCategoryMasterModel;
@model ProductCategoryMaster;
<form class="form-horizontal" role="form" id="formProductCategoryMaster">
    <div class="row">
        <div class="col-md-12">
            <div class="row mb-3">
                <input type="hidden" asp-for="ProductCategoryID" />
                <div class="col-sm-9">
                    @*  <input type="text" required="" class="form-control" id="ProductCategoryMasterText" name="ProductCategoryMasterText" asp-for="ProductCategoryMasterText">
                    <span asp-validation-for="ProductCategoryMasterText" class="text-danger"></span>*@
                </div>
            </div>

            <div class='row mt-3'>
                <div class='col-12'>
                    @* <div class='row mb-3'>
                         <label for='' class='col-sm-3 col-form-label'>Product Group ID</label>
                        <div class='col-sm-9'> *@
                            <input type='hidden' class='form-control' id='ProductCategoryID' asp-for='ProductCategoryID' name='ProductCategoryID'>
                            @* <span asp-validation-for='ProductCategoryID' class='text-danger'></span>
                        </div>
                    </div> *@
                    <div class='row mb-3'>
                        <label for='' class='col-sm-3 col-form-label'>Product Group:</label>
                        <div class='col-sm-9'>
                            <input type='text' class='form-control' id='ProductCategoryText' asp-for='ProductCategoryText' name='ProductCategoryText'>
                            <span asp-validation-for='ProductCategoryText' class='text-danger'></span>
                        </div>
                    </div>
                    <div class='row mb-3'>
                        <label for='' class='col-sm-3 col-form-label'>Remark</label>
                        <div class='col-sm-9'>
                            <input type='text' class='form-control' id='Remark' asp-for='Remark' name='Remark'>
                            <span asp-validation-for='Remark' class='text-danger'></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer-sticky text-center">
                <button id="btnSave" type="button" onclick="fnSubmit()" class="btn btn-primary btn-info px-5 ladda-button">Submit</button>
                <button type="button" data-bs-dismiss="offcanvas" class="btn btn-primary btn-info px-5 my-2">Back</button>
            </div>
        </div>
    </div>
</form>
@await Html.PartialAsync("_ValidationScriptsPartial")
<script type="text/javascript">
    var urlsave = '@Url.Action("AddOrUpdateProductCategoryMaster", "ProductCategoryMaster")';
    function fnSubmit() {
        if ($("#formProductCategoryMaster").valid()) {
            var l = laddaStart('btnSave');
            console.log(l);
            modeldata = $("#formProductCategoryMaster").serialize();
            $.ajax({
                type: 'POST',
                url: urlsave,
                data: modeldata,
                dataType: 'json',
                beforeSend: function () { },
                success: function (data) {
                    if (data.status) {
                        //notification
                        $("#canvas_masterentity2").hide();//('hide');
                        Lobibox.notify('success', {
                            pauseDelayOnHover: true,
                            size: 'mini',
                            icon: 'bx bx-check-circle',
                            continueDelayOnInactiveTab: false,
                            position: 'bottom right',
                            msg: data.message
                        });
                        window.location.reload().delay(3000);
                    }
                    else {
                        Lobibox.notify('error', {
                            pauseDelayOnHover: true,
                            size: 'mini',
                            icon: 'bx bx-check-circle',
                            continueDelayOnInactiveTab: false,
                            position: 'bottom right',
                            msg: data.message
                        });
                    }
                },
                error: function (error) {
                    laddaStop(l);
                    Lobibox.notify('error', {
                        pauseDelayOnHover: true,
                        size: 'mini',
                        icon: 'bx bx-check-circle',
                        continueDelayOnInactiveTab: false,
                        position: 'bottom right',
                        msg: "@MessageHelper.Error"
                    });
                }
            }).always(function () {
                hideLoader();
            });
        }
    };
</script>