@using ERP.Extensions;
@using ERP.Helpers;
@model Business.Entities.OtherDeductionModel.OtherDeduction
<form id="formOtherDeduction" role="form">
    <div class="row">
        <div class="card-content">
            <div class="tab-pane fade active show" id="details" role="tabpanel" aria-labelledby="details-tab">

                <div class="row mt-3">
                    <div class=" col-12">

                        <input id="OtherDeductionID" type="hidden" asp-for="OtherDeductionID" />

                        @if (Model != null && Model.OtherDeductionID > 0 && Model.EmployeeID > 0)
                        {
                            <script type="text/javascript">
                                $(document).ready(function () {
                                    document.getElementById('DepartmentID').disabled = true;
                                    document.getElementById('EmployeeID').disabled = true;
                                });
                            </script>
                        }

                        <div class="row mb-3">
                            <label for="" class="col-sm-3 col-form-label ">Department:</label>
                            <div class="col-sm-9">
                                <select class="form-select" asp-items="@EmployeeExtension.GetAllDepartmentText()" asp-for="DepartmentID" id="DepartmentID" name="DepartmentID">
                                    <option value="0">Select Department</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="" class="col-sm-3 col-form-label ">Employee Name:</label>
                            <div class="col-sm-9">
                                <select class="form-select" asp-items="ViewBag.EmployeeName" asp-for="EmployeeID" id="EmployeeID" name="EmployeeID">
                                    <option value="">Select Employee</option>
                                </select>
                                <span asp-validation-for="EmployeeID" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="" class="col-sm-3 col-form-label ">Employee Advances Amount:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="Amount" asp-for="Amount" name="Amount">
                                <span asp-validation-for="Amount" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="" class="col-sm-3 col-form-label ">Payment Date:</label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" id="PaymentDate" asp-for="PaymentDate" name="PaymentDate">
                                <span asp-validation-for="PaymentDate" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="" class="col-sm-3 col-form-label ">Description:</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" rows="4" cols="50" id="Description" name="Description" asp-for="Description" placeholder=""></textarea>
                            </div>
                        </div>

                        @*<div class="row mb-3">
                        <label for="" class="col-sm-3 col-form-label ">Is Active:</label>
                        <div class="col-sm-9">
                        <input type="checkbox" class="form-check-input" asp-for="IsActive" name="IsActive">
                        @*<span asp-validation-for="OfficeEmail" class="text-danger"></span>
                        </div>
                        </div>*@

                    </div>
                </div>

                <div class="modal-footer-sticky text-center">
                    <button id="btnSaveOtherDeduction" type="button" onclick="fnSubmitOtherDeduction()" class="btn btn-primary btn-info px-5 ladda-button">Save</button>
                    <button type="button" data-bs-dismiss="offcanvas" class="btn btn-primary btn-info px-5 my-2" aria-l abel="Close">Cancel</button>
                </div>

            </div>
        </div>
    </div>
</form>
@await Html.PartialAsync("_ValidationScriptsPartial")

<script type="text/javascript">

    var employeeDropdown = document.getElementById("EmployeeID");
    $(document).ready(function () {
        var originalEmployeeDropdown = employeeDropdown.innerHTML;
        $("#DepartmentID").change(function () {

            var dID = $(this).val();
            if (dID <= 0) {
                //employeeDropdown.innerHTML = originalEmployeeDropdown;
                //$("#EmployeeID").load(window.location.href + " #EmployeeID");
                //employeeDropdown.innerHTML = "<select class='"form-select"' items='"ViewBag.EmployeeName"' asp-for='"EmployeeID"' id='"EmployeeID"' name='"EmployeeID"'></select>";
            }
            else {
                $.getJSON("/HR/GatePass/EmployeeNameByDepartmentID/", { departmentId: dID },
                    function (data) {
                        var newHTML = "";
                        for (var i = 0; i < data.length; i++) {
                            /* IMPORTANT CODE
                            //var option = document.createElement("option");
                            //var id = data[i].employeeID;
                            //option.id = data[i].employeeID;
                            //option.value = data[i].employeeName;
                            //employeeDropdown.appendChild(option);
                             IMPORTANT CODE */

                            newHTML += "<option id='" + data[i].employeeID + "' value='" + data[i].employeeID + "'>" + data[i].employeeName + "</option>";
                        }
                        employeeDropdown.innerHTML = newHTML;
                    });
            }
        });
    });

    var urlsave = '@Url.Action("AddUpdateOtherDeduction", "OtherDeduction")';
    function fnSubmitOtherDeduction() {
        if ($("#formOtherDeduction").valid()) {
            var l = laddaStart('btnSaveOtherDeduction');
            modeldata = $("#formOtherDeduction").serialize();
            $.ajax({
                type: 'POST',
                url: urlsave,
                data: modeldata,
                dataType: 'json',
                beforeSend: function () { },
                success: function (data) {
                    if (data.status) {
                        //notification
                        $("#canvasOtherDeduction").hide();//('hide');
                        Lobibox.notify('success', {
                            pauseDelayOnHover: true,
                            size: 'mini',
                            icon: 'bx bx-check-circle',
                            continueDelayOnInactiveTab: false,
                            position: 'bottom right',
                            msg: data.message
                        });
                        setTimeout(
                            function () {
                                window.location.reload();
                            }, 3000);
                    }
                    else {
                        Lobibox.notify('error', {
                            pauseDelayOnHover: true,
                            size: 'mini',
                            icon: 'bx bx-check-circle',
                            continueDelayOnInactiveTab: false,
                            position: 'bottom right',
                            msg: data.message
                        });
                    }
                },
                error: function (error) {
                    laddaStop(l);
                    Lobibox.notify('error', {
                        pauseDelayOnHover: true,
                        size: 'mini',
                        icon: 'bx bx-check-circle',
                        continueDelayOnInactiveTab: false,
                        position: 'bottom right',
                        msg: "@MessageHelper.Error"
                    });
                }
            }).always(function () {
                hideLoader();
            });
        }
    };
</script>
