@model Business.Entities.Production.MasterPackingModel.MasterPacking
<div class="modal fade" id="masterPackageQRCode" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleMasterPackageModalLabel">Master Packing Detail</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div>
                </p>
            </div>
            <div class="modal-body">
                <fieldset>
                    <legend style="">QR Code</legend>
                        <div class='row mb-3'>
                            <label for='' class='col-sm-4 col-form-label'>Master Packing Code</label>
                            <div class='col-sm-8'>
                                <textarea type='text' class='form-control' id='MasterPackingCode' asp-for='MasterPackingCode' name='MasterPackingCode' rows="3" readonly></textarea>
                            </div>
                        </div>

                        <div class='row mb-3'>
                            <label for='' class='col-sm-4 col-form-label'>Batch No</label>
                            <div class='col-sm-3'>
                                <input type='text' class='form-control' id='BatchNo' asp-for='BatchNo' name='BatchNo' readonly>
                            </div>
                        </div>

                        <div class='row mb-3'>
                            <label for='' class='col-sm-4 col-form-label'>User Print Code</label>
                            <div class='col-sm-8'>
                                <input type='text' class='form-control' id='UserBatchCode' asp-for='UserBatchCode' name='UserBatchCode' readonly>
                            </div>
                        </div>

                        <div class='row' id="printableAreaQRCodeMasterPacking">
                            <img src="https://chart.googleapis.com/chart?cht=qr&chl=&chs=150x15ssss0&chld=L|0" class="qr-code img-thumbnail" id="newGenratedQRCode" />
                            <label for='' class='col-12 col-form-label text-end text-dark h1'>@Model.UserBatchCode</label>
                        </div>

                </fieldset>
            </div>
            <div class="modal-footer">
                @* <a onclick="()" class="btn btn-primary">Confirm</a> *@
                <!--<button type="button" class="btn btn-primary" onclick="fnAddParty()">Save</button>-->
                <button type="button" class="btn btn-secondary" onclick="printDiv('printableAreaQRCodeMasterPacking')">Print</button>
                <button type="button" class="btn btn-secondary" onclick="fnCloseModal()" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var autoGenCode = $('#MasterPackingCode').val();
        let finalQRURL = 'https://chart.googleapis.com/chart?cht=qr&chl=' + autoGenCode + '&chs=260x260&chld=L|0';
        // Replace the src of the image with
        // the QR code image

        $('#newGenratedQRCode').attr('src', finalQRURL);
    });
    function printDiv(divName) {
        // alert('Inside printDiv-- ' + divName);
        //var printContents = document.getElementById(divName).innerHTML;
        // alert('printContents-- ' + printContents);
        //var originalContents = document.body.innerHTML;
        // alert('originalContents-- ' + originalContents);

        //document.body.innerHTML = printContents;
        // alert('printContents');

        window.print();
        // alert('print');

        //document.body.innerHTML = originalContents;
        // alert('originalContents');
    }
</script>