@using Business.Entities.Party;
@using Business.Entities.PartyMasterModel;
@model PartyMaster
@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.Title = "Party Details..";
    List<PartyContactTxn> PartyContactTxns = PartyExtension.ListOfPartyContactPerson(Model.PartyID);
    List<PartyAddressTxn> PartyAddressTxns = PartyExtension.ListOfPartyAddress(Model.PartyID);
    PartyContactDetail PartyContactDetail = PartyExtension.GetPartyContactDetail(Model.PartyID);
    PartyRegistration PartyRegistration = PartyExtension.GetPartyRegistration(Model.PartyID);
    List<PartyBankDetails> PartyBankDetails = PartyExtension.GetPartyAllBankAccount(Model.PartyID);
    List<PartyDocument> PartyDocuments = PartyExtension.GetPartysAllDocuments(Model.PartyID);
    PartySetting PartySetting = PartyExtension.GetPartySetting(Model.PartyID);
}
<div class="row card">
    <div class="card-content">
        <div class="card-body">
            <ul class="nav nav-tabs" id="myTab" role="tablist">

                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="details-tab" data-bs-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="false">Party Details</a>
                </li>             

                <li class="nav-item" role="presentation">
                    <a class="nav-link " id="contact-address-tab" data-bs-toggle="tab" href="#contactAddress" role="tab" aria-controls="contactAddress" aria-selected="true" disabled>Address</a>
                </li>

                <li class="nav-item" role="presentation">
                    <a class="nav-link " id="contact-detail-tab" data-bs-toggle="tab" href="#PartyContactDetail" role="tab" aria-controls="PartyContactDetail" aria-selected="true" disabled>Party Contact Detail</a>
                </li>

                <li class="nav-item" role="presentation">
                    <a class="nav-link " id="contact-registration-tab" data-bs-toggle="tab" href="#PartyRegistration" role="tab" aria-controls="PartyRegistration" aria-selected="true" disabled>Registration</a>
                </li>

                <li class="nav-item" role="presentation">
                    <a class="nav-link " id="Party-banking-tab" data-bs-toggle="tab" href="#PartyBankingDetail" role="tab" aria-controls="PartyBankingDetail" aria-selected="true" disabled>Banking detail</a>
                </li>

                <li class="nav-item" role="presentation">
                    <a class="nav-link " id="Party-document-tab" data-bs-toggle="tab" href="#PartyDocument" role="tab" aria-controls="PartyDocument" aria-selected="true" disabled>Documents</a>
                </li>

       @*         <li class="nav-item" role="presentation">
                    <a class="nav-link " id="Party-setting-tab" data-bs-toggle="tab" href="#PartySetting" role="tab" aria-controls="PartySetting" aria-selected="true" disabled>Settings</a>
                </li>*@
                <li class="nav-item" role="presentation">
                    <a class="nav-link " id="contact-person-tab" data-bs-toggle="tab" href="#contactPerson" role="tab" aria-controls="contactPerson" aria-selected="true" disabled>Contact Person</a>
                </li>
            </ul>
        </div>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade active show" id="details" role="tabpanel" aria-labelledby="details-tab">
                <form id="formEmployee" asp-action="AddUpdateParty" asp-controller="Party" asp-area="Marketing" class="row g-3" enctype="multipart/form-data">
                    <input type="hidden" asp-for="PartyID" />
                    <div class="row pt-3">

                        <div class=" col-sm-12 col-md-6 col-lg-6">
                            @if (Model != null && Model.PartyID > 0)
                            {
                                <div class="row mb-2">
                                    <label for="" class="col-sm-4 col-form-label ">Party Code:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="PartyCode" name="PartyCode" asp-for="PartyCode" placeholder="" disabled>
                                        @*<span asp-validation-for="PartyCode" class="text-danger" disabled />*@
                                    </div>
                                </div>
                            }
                            <div class="row mb-2">
                                <label for="" class="col-sm-4 col-form-label ">Party Name:<span class="required">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" required="" class="form-control" id="PartyName" name="PartyName" asp-for="PartyName" placeholder="">
                                    <span asp-validation-for="PartyName" class="text-danger" />
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label for="" class="col-sm-4 col-form-label ">Email-ID:</label>
                                <div class="col-sm-8">
                                    <input type="email" class="form-control" id="Email" name="Email" asp-for="Email" placeholder="">
                                </div>
                            </div>
                           <div class="row mb-2">
                                <label for="" class="col-sm-4 col-form-label ">Exibition Name:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="GroupName" name="GroupName" asp-for="GroupName" placeholder="">
                                </div>
                            </div>

                              <div class="row mb-2">
                                <label for="" class="col-sm-4 col-form-label ">Contact Person Name:<span class="required">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="OwnerName" name="OwnerName" asp-for="OwnerName" placeholder="">
                                    <span asp-validation-for="OwnerName" class="text-danger" />
                                </div>
                            </div>
                            @*
                            <div class="row mb-2">
                                <label for="" class="col-sm-4 col-form-label ">Unit No/Name:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="UnitNoName" name="UnitNoName" asp-for="UnitNoName" placeholder="">
                                </div>
                            </div>

                            <div class="row mb-2">
                                <label for="" class="col-sm-4 col-form-label ">Industry Type:<span class="required">*</span></label>
                                <div class="col-sm-8">
                                    <select asp-for="IndustryTypeID" asp-items="PartyExtension.GetAllIndustryTypeMaster()" class="form-control">
                                        <option value="">Select Industry type</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row mb-2">
                                <label for="" class="col-sm-4 col-form-label ">Business Type:<span class="required">*</span></label>
                                <div class="col-sm-8">
                                    <select asp-for="BusinessTypeID" asp-items="PartyExtension.GetAllBusinessTypeMaster()" class="form-control">
                                        <option value="">Select Business type</option>
                                    </select>
                                </div>
                            </div>
*@
                            <div class="row mb-2">
                                <label for="" class="col-sm-4 col-form-label ">Party Type:<span class="required">*</span></label>
                                <div class="col-sm-8">
                                    <select asp-for="PartyTypeID" asp-items="PartyExtension.GetAllPartyTypeMaster()" class="form-control">
                                        <option value="">Select Patry type</option>
                                    </select>
                                    <span asp-validation-for="PartyTypeID" class="text-danger" />
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label for="" class="col-sm-4 col-form-label ">Contact No.:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="ContactPhone1" name="ContactPhone1" asp-for="ContactPhone1" placeholder="">
                                    @*<span asp-validation-for="OwnerName" class="text-danger" />*@
                                </div>
                            </div>

                            <div class="row mb-2">
                                <label for="" class="col-sm-4 col-form-label ">Mobile No.:<span class="required">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="Mobile1" name="Mobile1" asp-for="Mobile1" placeholder="">
                                    <span asp-validation-for="Mobile1" class="text-danger" />
                                </div>
                            </div>

                            <div class="row mb-2">
                                <label for="" class="col-sm-4 col-form-label ">Is Active:</label>
                                <div class="col-sm-8">
                                    @Html.CheckBoxFor(s => s.IsActive)
                                    @*<span asp-validation-for="OwnerName" class="text-danger" />*@
                                </div>
                            </div>

                        </div>


                        <div class="col-sm-12 col-md-6 col-lg-6">

                            <div class="row mb-2">
                                <label for="" class="col-sm-4 col-form-label ">Fax No.:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="FaxNo" name="FaxNo" asp-for="FaxNo" placeholder="">
                                    @*<span asp-validation-for="OwnerName" class="text-danger" />*@
                                </div>
                            </div>

                            

                            <div class="row">
                                <div class="col-sm-4">
                                    <label asp-for="LogoImage" class="col-form-label ">Logo Image:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input asp-for="LogoImage" type="file" class="form-control" accept="image/*" name="logoImage" id="logoImage" onchange="loadFile(event)" style="display: none;" />
                                    <label for="logoImage" style="cursor: pointer; color:darkblue">
                                        Upload the image for logo<br />
                                        @if (Model != null && !string.IsNullOrEmpty(Model.LogoImagePath))
                                        {
                                            <img class="rounded border border-dark" id="output" width="200" height="200" src="@ViewBag.LogoImage" />
                                        }
                                        else
                                        {
                                            <img class="rounded border border-dark" id="output" width="200" height="200" src="~/assets/images/DefaultProfilePicture/defaultprofilepicture.png" />
                                        }
                                    </label>
                                    <script>
                                        var loadFile = function (event) {
                                            var image = document.getElementById('output');
                                            image.src = URL.createObjectURL(event.target.files[0]);
                                        };
                                    </script>
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>

                    <div class="text-center">
                        <button id="btnSave" type="submit" class="btn btn-primary btn-info px-5 ladda-button">Submit</button>

                        <a id="btnCancel" type="button" class="btn btn-primary btn-info px-5 ladda-button" href="/Marketing/Party/Index">Back</a>
                    </div>
                </form>
            </div>

            <div class="tab-pane fade" id="contactAddress" role="tabpanel" aria-labelledby="PartyAddress-tab" disabled>
                <div id="PartyContactPersonTable">
                    @await Html.PartialAsync("_PartyAddressList", PartyAddressTxns)
                </div>
            </div>

            <div class="tab-pane fade" id="PartyContactDetail" role="tabpanel" aria-labelledby="PartyContactDetail-tab" disabled>
                <div id="PartyContactDetailTable">
                    @await Html.PartialAsync("_PartyContactDetail", PartyContactDetail)
                </div>
            </div>

            <div class="tab-pane fade" id="PartyRegistration" role="tabpanel" aria-labelledby="PartyRegistration-tab" disabled>
                <div id="PartyregistrationTable">
                    @await Html.PartialAsync("_PartyRegistration", PartyRegistration)
                </div>
            </div>

            <div class="tab-pane fade" id="PartyBankingDetail" role="tabpanel" aria-labelledby="PartyBankingDetail-tab" disabled>
                <div id="PartyBankingDetailTable">
                    @await Html.PartialAsync("_PartyBankAccountList", PartyBankDetails)
                </div>
            </div>

            <div class="tab-pane fade" id="PartyDocument" role="tabpanel" aria-labelledby="PartyDocument-tab" disabled>
                <div id="PartyDocumentTable">
                    @await Html.PartialAsync("_PartyDocumentList", PartyDocuments)
                </div>
            </div>

@*            <div class="tab-pane fade" id="PartySetting" role="tabpanel" aria-labelledby="PartySetting-tab" disabled>
                <div id="PartyDocumentTable">
                     @await Html.PartialAsync("_PartyContactSetting", PartySetting)
                </div>
            </div>*@
            <div class="tab-pane fade" id="contactPerson" role="tabpanel" aria-labelledby="PartyContact-tab" disabled>
                <div id="PartyContactPersonTable">
                    @await Html.PartialAsync("_PartyContactPersonList", PartyContactTxns)
                </div>
            </div>
        </div>
        <div>
            &nbsp;
        </div>
    </div>
</div>
@if (Model != null && Model.PartyID > 0)
{
    <script type="text/javascript">
        document.getElementById("contact-address-tab").removeAttribute("disabled");
        document.getElementById("contact-detail-tab").removeAttribute("disabled");
        document.getElementById("contact-registration-tab").removeAttribute("disabled");
        document.getElementById("Party-banking-tab").removeAttribute("disabled");
        document.getElementById("Party-document-tab").removeAttribute("disabled");
        @*document.getElementById("Party-setting-tab").removeAttribute("disabled");*@
        document.getElementById("contact-person-tab").removeAttribute("disabled");
    </script>
}