@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.Title = "Executive Performance Summary..";
}
<div class="container">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <iframe width="100%" height="800px" src="https://lookerstudio.google.com/embed/reporting/2fe29da9-af8d-4c62-bfce-89c50bbfd64d/page/hNZ0D" frameborder="0" style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>
        </div>
    </div>
</div>