@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.Title = "Executive Activity Summary..";
}
<div class="container">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <iframe width="100%" height="800px" src="https://lookerstudio.google.com/embed/reporting/6ac71af5-da93-4e20-8d33-6fa83241a9c7/page/v2c2D" frameborder="0" style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>
        </div>
    </div>
</div>