@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.Title = "SAP Item Dashboard..";
}
<div class="container">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <iframe width="100%" height="800px" src="https://lookerstudio.google.com/embed/reporting/579d8172-f10f-4e78-a987-16728d3dc3a3/page/MsmxD" frameborder="0" style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>
        </div>
    </div>
</div>